.idea/*
application/config/database.php
assets/music-sample/*
assets/sync4-musicfiles/*
assets/sync8-musicfiles/*
assets/thumbimages/*

WhoopTriggerz/application/config/database.php
WhoopTriggerz/assets/music-sample/*
WhoopTriggerz/assets/sync4-musicfiles/*
WhoopTriggerz/assets/sync8-musicfiles/*
WhoopTriggerz/assets/thumbimages/*
WhoopTriggerz/assets/upload_images/*
WhoopTriggerz/assets/sync4-drumfiles/*

HeavenTriggerz/application/config/database.php
HeavenTriggerz/assets/music-sample/*
HeavenTriggerz/assets/sync4-musicfiles/*
HeavenTriggerz/assets/sync8-musicfiles/*
HeavenTriggerz/assets/thumbimages/*
HeavenTriggerz/assets/upload_images/*
HeavenTriggerz/assets/sync4-drumfiles/*